header {
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: contain;
}

.logo {
    margin-top: 50px;
    width: 20%;
}